*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    position: relative;
    font-size: 12px;
    line-height: 1.2;
}
a{
    text-decoration: none;
    color: #333;
}
main{
    height: calc(100vh - 45px);
    padding: 10px;
    background: #F1EDED;
    -webkit-overflow-scrolling: touch; /*ios 上增加弹性*/
    overflow: scroll;
}
main > section{
    display: none;
}
main section:first-child{
    display: block;
}
section .item{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}
section .item > a{
    display: block;
    display: flex;
}
section .item .cover,
section .item .cover img{
    width: 70px;
}
section .item  .detail{
    flex: 1;
    padding-left: 10px;
}
section .item  .detail h2{
    font-size: 16px;
}
section .item .detail .extra{
    color: #999;
    margin-top: 4px;
}
section .item .detail .score{
    color: #FF5722;
}
section .loading{
    text-align: center;
    padding-top: 10px;
    display: none;
}  
section .loading .iconfont{
    display: inline-block;
    animation: 1s rotate linear infinite;
} 
@keyframes rotate{
    0%{ transform: rotate(0deg) }
    100%{ transform: rotate(0deg)}
}
footer{
    display: absolute;
    bottom: 0;
    height: 45px;
    width: 100%;
    display: flex;
    background-color: #fff;
    border-top: 1px solid #ccc;
}
footer>div{
    flex: 1;
    text-align: center;
    padding-top: 6px;
    color: #666;
    cursor: pointer;
}
footer>div>span{
    display: block;
}
footer .active{
    color: #FF5722;
}